@import "components/navbar";
@import "components/reset";
@import "components/modal";
@import "components/landing";
@import "components/button";
@import "components/footer";
@import "components/products";
@import "components/about";
@import "components/form";
@import "components/contact";
@import "components/variables";
@import "components/gallery";

@import url("https://fonts.googleapis.com/css?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

html,
body {
  font-family: "Raleway", sans-serif;
  font-size: $fontsize;
  overflow-x: hidden;
}

.wrapper {
  width: 65%;
  margin: 0 auto;
  @media (max-width: $tablet) {
    width: 80%;
  }
  @media (max-width: $mobile) {
    width: 90%;
  }
}

._main {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.error {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  h1 {
    font-family: "Allura", sans-serif;
    font-size: 10rem;
    color: $primary;
    margin: 0;
    padding: 0;
    line-height: 1;
  }
  h3 {
    margin: 0;
    color: $primary;
    padding: 0;
    font-size: 3rem;
  }
  a {
    button {
      margin: 2rem 0;
    }
    color: currentColor;
    text-decoration: none;
  }
}
