.section {
  height: 100%;
  .section__inner {
    .section__title {
      h1 {
        &::after {
          content: "";
          position: absolute;
          bottom: 20px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $primary;
        }
      }
      width: fit-content;
      font-family: "Allura", sans-serif;
      color: $primary;
      font-size: 1.8rem;
      position: relative;
      margin: 1rem 0;
      margin-top: 3rem;
    }
    .section__content {
      margin: 3rem 0;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .section__content__img {
        width: 100%;
        max-width: 600px;
        height: 500px;
        margin-right: 3rem;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
        .item-1 {
          grid-row: 1/7;
          grid-column: 1/8;
        }
        .item-2 {
          grid-row: 3/9;
          grid-column: 6/11;
        }
        .item-3 {
          grid-row: 4/11;
          grid-column: 1/7;
          z-index: 1;
        }
      }
      .section__content__text {
        max-width: 450px;
        p {
          margin: 2rem 0;
          width: 100%;
          &:first-child {
            margin-top: 0;
          }
        }
      }

      @media (max-width: $desktop) {
        margin: 3rem 0;
        flex-direction: column;
        .section__content__img {
          margin-bottom: 2.5rem;
        }
        .section__content__text {
          p {
            width: 100%;
          }
        }
      }
    }
  }
}
