$black: #1e1e1e;
$white: #ffffff;
$primary: #8f5f7a;
$light-grey: #f3f3f3;
$secondary-light: #f5f2eb;
$secondary-dark: #c3b498;

$fontsize: 16px;

//media query
$mobile: "480px";
$tablet: "768px";
$laptop: "960px";
$desktop: "1152px";
$widescreen: "1440px";
